<div class="card" style="width: 18rem;">
	<%= image_tag 'plane.png', class: 'card-img-top'%>
  <div class="card-body">
    <h5 class="card-title"><%= flight.name %></h5>
    <p class="card-text"><%= flight.origin  %> To <%= flight.destination  %></p>
    <p class="card-text"><%= flight.departure_time  %></p>
  </div>
</div>